body {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: center;
  background-color: rgb(210, 188, 220);
}

.inner-body {
  max-width: 300px;
  background-color: blueviolet;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  background-color: rgba(166, 111, 192, 1);
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}


input {
  border: none;
  border-radius: 1px;
  margin: 1px;
  font-family: 'Bebas Neue', cursive;
  
}

.btn {
  background-color: rgba(225, 116, 102, 1);
  
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: 'Bebas Neue', cursive;
}

.list-container {
  box-sizing: 1px;
  border-color: black;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttons {

}

#clear-task {
width: 110px;
}
#remove-item {
  width: 110px;
}

#task-input {
  background-color: peachpuff;
  height: 30px;
  border-radius: 15px;
  font-family: ;
}

.checkbox {

}